
body{
    width:80%;
   margin:auto;
}
#nav{
    border:1px solid teal;
    height:auto;
    display: flex;
    align-items: center;
    border-top-style:none;
    border-left-style:none;
    border-right-style:none;

}
#first{
    background-color: #68a923;
    height:60px;
   color: white;
    width:15%;
    font-size:25px;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding-left: 2%;
}
#second{
    margin-left: 4%;
    width:65%;
}
#second>a{
    padding-left: 4%;
    text-decoration: none;
    color: black;
}
.mid-div{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1%;
}
.mid-div>a{
    text-decoration: none;
}
.mid-div>a>h1{
    color:black;
    border:8px solid #68a923;
    border-bottom-style:none;
    border-left-style:none;
    border-right-style:none;

}
#top{
    margin-bottom: -10px;
}
#top-section{
    display: flex;
    height:auto;
    position: relative;
    gap: 40px;

}
#top-section>div{
    width: 35%;
    height: auto;

}
#top-section>div>div{
    height:100px;

}
#top-section>div:nth-child(1)>img{
    width:100%;
   
}
#top-section>div:nth-child(1)>h2{
    text-align: center;
     position: absolute;
    bottom:-15px;
    left:10px;
    width:35%;
    color: white;
}
#top-section>div:nth-child(2)>div{
    display: flex;
    border: 1px dotted teal;
    border-left-style:none;
    border-right-style:none;
    border-left-style:none;
    border-top-style:none;
}

#top-section>div:nth-child(2)>div:hover{
    text-decoration: underline;
}
#top-section>div:nth-child(2)>div>img{
    padding: 10px;
}
#top-section>div:nth-child(2)>div>h4{
    padding-left: 20px;
    line-height: 20px;
}

#top-second-section{
   height: 400px;
    display:flex;
    margin-top: 20px;
    gap: 40px;

}
#top-second-section>div{
    width:30%;
    height:400px;

}
#top-second-section>div:nth-child(1)>div{
    height: 150px;
    display: flex;
    border: 1px dotted teal;
    border-right-style:none;
    border-left-style:none;
    border-top-style:none;
}
#top-second-section>div:nth-child(1)>div:hover,#top-second-section>div:nth-child(2)>div:hover,#top-second-section>div:nth-child(3)>div:hover{
    text-decoration: underline;
}

#top-second-section>div:nth-child(1)>div>h4{
     padding-left: 20px;
}
#top-second-section>div:nth-child(1)>div:nth-child(2){
    margin-top: 30px;
}
#top-second-section>div:nth-child(2)>div{
    height: 80px;
    border: 1px dotted teal;
    border-right-style:none;
    border-left-style:none;
    border-top-style:none;
}
#top-second-section>div:nth-child(2)>div>h4{
    padding-left: 10px;
    line-height: 20px;
}
#top-second-section>div:nth-child(1)>div>img{
    width:50%;
}
#top-second-section>div:nth-child(3)>div{
  height:130px;
  display: flex;
  border: 1px dotted teal;
  border-right-style:none;
  border-left-style:none;
  border-top-style:none;
}
#top-second-section>div:nth-child(3)>div>img{
    width:30%;
    padding: 20px;
}

#mid-section{
    height: 300px;
    display: flex;
    gap: 40px;
}
#mid-section>div{
    width: 30%;
    height:300px;

}
#mid-section>div:nth-child(1){
    background-color: #68a923;
}
#mid-section>div:nth-child(1):hover{
  text-decoration: underline;
  text-decoration-color: white;
}
#mid-section>div:nth-child(1)>h2{
    color:white;
    padding: 10% 0% 0% 5%;
    font-size: 30px;
}
#mid-section>div:nth-child(1)>p{
    color: white;
    padding-left: 5%;
}
#mid-section>div:nth-child(2)>div{
    height: 140px;
    display: flex;
    background-color:#eff6f4 ;
}
#mid-section>div:nth-child(2)>div:hover,#mid-section>div:nth-child(3)>div:hover{
    text-decoration: underline;
}
#mid-section>div:nth-child(2)>div>img{
    width: 40%;
}
#mid-section>div:nth-child(2)>div:nth-child(2){
    margin-top: 15px;
}
#mid-section>div:nth-child(2)>div>h3{
    padding-left: 30px;
}
#mid-section>div:nth-child(3)>div{
    border: 1px dotted teal;
    height:100px;
    display: flex;
    background-color:#eff6f4 ;
    border-right-style:none;
    border-left-style:none;
    border-top-style:none;
}

#mid-section>div:nth-child(3)>div>img{
    width:30%;
    padding: 15px;
}
#last-section{
    height: 300px;
    display: flex;
}
#last-section>div:nth-child(1){
    width: 60%;
    height: 300px;
}
#last-section>div:nth-child(2){
    width:35%;
    height: 300px;
    margin-left: 5%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    
}
#last-section>div:nth-child(2):hover{
    text-decoration: underline;
}
#last-section>div:nth-child(1)>div:nth-child(1){
    height: 300px;
}
#last-section>div:nth-child(1)>div:nth-child(1)>img{
    width:100%;
    height: 300px;
}
#last-section>div:nth-child(2)>img{
    width:100%;
}
#last-section>div:nth-child(2)>h3,#last-section>div:nth-child(2)>p{
    padding-left: 20px;
}
#box{
    width:60%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:10px;
    margin-top: 20px;
}
#box>div{
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#box>div:hover{
    text-decoration: underline;
}
#box>div>img{
      width: 100%;
}
#box>div>p{
    padding-left: 20px;
}
#content{
    height: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:20px;
    margin-top: 20px;
}
#content>div{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; 
}
#content>div:hover{
    text-decoration: underline;
}

#content>div>img{
    width:100%;
}
#content>div>img+p{
    font-weight: bold;
    padding-left: 20px;

}
#content>div>p+p{
    font-weight: bold;
    color: teal;
    padding-left: 20px;
}

.view:hover{
  text-decoration: underline;
}




















