/* .main-container */
.main-container {
     width: 95%;
     margin: auto;
     height: auto;
}

/* on the top of navigation bar contains HOME VIDEO */
.first-div {
     width: 100%;
     height: 30px;
     margin: auto;
     display: flex;
     align-items: center;
}

/* navbar main container contain- 2 - div and 1 + 5 - anchor tag  */
.nav-container {
     width: 100%;
     height: 56px;
     margin: 10px auto;
     display: flex;
     flex-direction: row;
}

/* <!-- Nav-section Anchor-Tags - LATEST VIDEOS BENGALURU KARNATAKA PEOPLE POPULAR --> */
.tab {
     width: 700px;
     height: 60px;
     display: flex;
     flex-direction: row;
     margin-left: 50px;
     align-items: center;
     justify-content: space-between;
}

.tab > a {
     color: gray;
     font-size: 15px;
}

/* DH Videos   title of navbar */
.DH-Videos {
     width: 250px;
     height: 60px;
     display: flex;
     align-items: center;
     padding-left: 20px;
     background-color: #ee9e18;
}

/* check pending */
.DH-Videos > a {
     width: 200px;
     height: 30px;
     margin: auto;
     color: WHITE;
     font-size: 32px;
}

/* latest videos  line number 104 */
.head-title {
     width: 1550px;
     height: 40px;
     margin: 50px auto;
     display: flex;
     flex-direction: row;
     padding-top: 10px;
}
/* latest videos  line number 104 */
/* end */

.head-title > a {
     color: #333333;
}

/* vedio card container line 150 */
.vid-card-container {
     width: 100%;
     height: auto;
     margin: auto;

     display: flex;
     flex-direction: row;
     flex-wrap: wrap;

     align-items: center;
     justify-content: space-between;
     float: left;
}

.card {
     width: 400px;
     height: 360px;
     margin: 10px auto;
     background-color: #eceaea;
}

.card > iframe {
     width: 400px;
}

.vid-title {
     text-align: center;
}
/* vedio card container line 150 */
/* END */

.bengaluru-container {
     width: 100%;
     height: auto;
     margin: auto;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: space-between;
}

.bengaluru-container > .card {
     width: 400px;
     height: 360px;
     margin: 10px auto;
     background-color: #eceaea;
}

.bengaluru-container > .card > iframe {
     width: 400px;
}

.title-div {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     width: 93%;
     margin: 25px auto;
}

.title-div > a {
     color: green;
}

.tag {
     width: 200px;
     padding: 12px;
     text-align: start;
     position: relative;
}

.tag::before {
     content: "";
     position: absolute;
     width: 35px;
     background: #7dbf85;
     height: 12px;
     top: 0px;
     transform: translate(-50%, -50%);
     left: 32px;
}

iframe {
     border-bottom: 5px solid #7dbf85;
}

a {
     cursor: pointer;
}

p {
     cursor: pointer;
}

h4 {
     cursor: pointer;
}

h4:hover {
     text-decoration: underline;
}

p:hover {
     text-decoration: underline;
}

/* img:hover {
  background-color: white;
  color: black;
  border: 2px solid green;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
} */

@media all and (min-width: 768px) and (max-width: 1023px) {
     .main-container {
          /* border: 2px solid yellow; */
          width: 95%;
          height: auto;
          margin: auto;
     }

     .nav-container {
          /* border: 1px solid blue; */
          width: 100%;
          height: 56px;
          margin: 10px auto;
          display: flex;
          flex-direction: row;
     }

     .title-div {
          /* border: 1px solid black; */

          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          margin: 25px auto;
     }

     .card {
          /* border: 1px solid blue; */
          width: 400px;
          height: 360px;
          margin: 10px auto;
          background-color: #eceaea;
     }

     .card > iframe {
          /* border: 1px solid blue; */
          width: 400px;
     }

     .bengaluru-container {
          /* border: 1px solid red; */
          width: 770px;
          height: auto;
          margin: auto;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          align-items: flex-start;
          justify-content: space-between;
     }

     .bengaluru-container > .card {
          /* border: 1px solid blue; */
          width: 400px;
          height: 360px;
          margin: 10px auto;
          background-color: #eceaea;
     }

     .card > iframe {
          /* border: 1px solid blue; */
          width: 400px;
     }
}

@media all and (min-width: 320px) and (max-width: 767px) {
     .main-container {
          /* border: 2px solid yellow; */
          width: 450px;
          height: auto;
          margin: auto;
     }

     .nav-container {
          width: 100%;
          height: 56px;
          margin: 10px auto;
          display: flex;
          flex-direction: row;
     }

     .tab {
          display: none;
     }

     .title-div {
          /* border: 1px solid black; */

          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          margin: 25px auto;
     }

     .card {
          /* border: 1px solid blue; */
          width: 400px;
          height: 360px;
          margin: 10px auto;
          background-color: #eceaea;
     }

     .card > iframe {
          /* border: 1px solid blue; */
          width: 400px;
     }

     .bengaluru-container {
          /* border: 1px solid black; */
          width: 100%;
          height: auto;
          margin: auto;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          align-items: flex-start;
          justify-content: space-between;
     }
}
